<div [ngClass]="alerta" class="alert" role="alert">
  A simple primary alert—check it out!
</div>
<button type="button" class="btn btn-info" (click)="alerta = 'alert-info'">
  Info
</button>
<button
  type="button"
  class="btn btn-outline-success"
  (click)="alerta = 'alert-success'"
>
  succes
</button>

<!-- Cambio de color boton y texto -->
<h3
  [ngClass]="{
    'text-danger': propiedades.danger,
    'text-info': !propiedades.danger
  }"
>
  Holaaaaaa prueba de ngClass
</h3>

<button
  (click)="propiedades.danger = !propiedades.danger"
  class="btn"
  [ngClass]="{
    'btn-danger': propiedades.danger,
    'btn-success': !propiedades.danger
  }"
>
  Cambiar
</button>
<br /><br />

<h3>Proceso Asíncrono</h3>

<button
  [disabled]="loading"
  (click)="ejecutar()"
  class="btn btn-primary"
  name="button"
>
  <i
    [ngClass]="{ 'fa-save': !loading, 'fa-refresh fa-spin': loading }"
    class="fa"
  ></i>
  <span *ngIf="!loading"> Guardar Cambios</span>
  <span *ngIf="loading"> Espere por favor</span>
</button>
